<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Multi-User Blog</title>
  </head>
<body>
  <a href="/"><h2>Multi-User Blog</h2></a>
    <div class="login-area">
    {% if user %}
      <a class="new-post" href="/newpost">New Post</a> | 
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
    </div>
  {% block content %}
  {% endblock %}
</body>
</html>

